@{
    ViewData["Title"] = "Numbers";
}
@model int[]
<div class="text-center">
    <h1 class="display-4 mb-4">Here is a numbers</h1>
    <div class="w-25 mx-auto border rounded shadow">
        @{
            foreach (int num in Model)
            {
                <p class="mb-2">@num</p>
            }
        }
    </div>
</div>
