@{
    ViewData["Title"] = @ViewBag.IsEdit == "true" ? "Edit Dish" : "Add Dish" ;
}
@model Dish
<div class="w-50 mx-auto">
    <h1 class="text-center display-4 mb-4">@(ViewBag.IsEdit == "true" ? "Edit " + Model.Name : "Add a new Dish" )</h1>
    <form asp-action=@(ViewBag.IsEdit == "true" ? "Update" :  "Create")  asp-controller="Home" asp-route-id=@(ViewBag.IsEdit == "true" ? Model.DishId : null) method="post" class="d-flex">
        <div class="flex-grow-1 p-2">
            <div class="mb-3">
                <label asp-for="Chef" class="form-label">Chef's Name</label>
                <input asp-for="Chef" class="form-control">
                <span class="text-danger" asp-validation-for="Chef"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Name of Dish</label>
                <input asp-for="Name" class="form-control">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Calories" class="form-label"></label>
                <input asp-for="Calories" class="form-control">
                <span class="text-danger" asp-validation-for="Calories"></span>
            </div>
        </div>
            <div class="p-2">
                <label asp-for="Tastiness" class="form-label"></label>
                <select asp-for="Tastiness" class="form-select">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                </select>
                <span class="text-danger" asp-validation-for="Tastiness"></span>
            </div>
            <div class="flex-grow-1 p-2">
                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
                <div class="d-flex justify-content-end">
                <button class="btn btn-primary">@(ViewBag.IsEdit == "true" ? "Edit Dish" : "Add Dish")</button>
                </div>
            </div>
    </form>
</div>