@{
    ViewData["Title"] = "Home Page";
}

@model List<Dish>
<div class="text-center w-50  mx-auto">
    <h1 class="display-4 mb-4">Welcome to CRUDelicious</h1>
    <p>Check out some recent dishes!</p>
    <hr/>

    @{
        foreach (Dish dish in Model)
        {
            <p><a asp-action="Show" asp-controller="Home" asp-route-id="@dish.DishId">@dish.Name</a> by @dish.Chef</p>
        }
    }
</div>
