@{
    ViewData["Title"] = "Home Page";
}

<div class="container rounded shadow bg-dark text-light p-4 my-3">
        <form action="submit" method="post" class="w-50 mx-auto p-4">
            <div class="mb-3">
                <label for="inputName" class="form-label">Name:</label>
                <input type="text" class="form-control" id="inputName" name="Name">
            </div>
            <div class="mb-3">
                <label for="inputLocation" class="form-label">Dojo Location:</label>
                <select name="Location" id="inputLocation" class="form-select">
                    <option selected value="Seattle">Seattle</option>
                    <option value="Los Angeles">Los Angeles</option>
                    <option value="San Jose">San Jose</option>
                    <option value="Online">Online</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="inputLanguage" class="form-label">Favorite Language:</label>
                <select name="Language" id="inputLanguage" class="form-select">
                    <option selected value="C#">C#</option>
                    <option value="Java">Java</option>
                    <option value="Javascript">Javascript</option>
                    <option value="Python">Python</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="inputComment" class="form-label">Comment</label>
                <textarea class="form-control" id="inputComment" name="Comment" rows="3"></textarea>
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
