html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.passcode {
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(224, 224, 224);
}