@{
    ViewData["Title"] = "Categories";
}
@model MyViewModel
<div class="container w-75 mx-auto border shadow p-3 mt-4">
    <div class="d-flex justify-content-evenly flex-grow-1">
        <div class="border-end border-dark p-3">
            <h1 class="text-center display-4 mb-4">New Category</h1>
            <form asp-action="CategoryCreate" asp-controller="Category" method="post">
                <div class="mb-3">
                    <label asp-for="Category.Name" class="form-label">Name:</label>
                    <input asp-for="Category.Name" class="form-control">
                    <span class="text-danger" asp-validation-for="Category.Name"></span>
                </div>
                <button class="btn btn-primary">Add Category</button>
            </form>
        </div>
        <div class="border-start border-dark p-3 flex-grow-1 d-flex flex-column">
            <h1 class="text-center display-4 mb-4">All Categories</h1>
            @foreach (Category Category in Model.Categories)
            {
                <a asp-action="CategoryShow" asp-controller="Category" asp-route-CategoryId=@Category.CategoryId class="link-secondary mb-2">@Category.Name</a>
            }
        </div>
    </div>
</div>