@{
    ViewData["Title"] = "Login";
}
@model LoginViewModel
<div class="container w-50 mt-4 mx-auto shadow border d-flex justify-content-between p-4">
    @await Html.PartialAsync("_RegistrationForm")
    @await Html.PartialAsync("_LoginForm")
</div>
