<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css')}}")>
</head>
<body>
    <div class="center_content">
        <h1 style="background-color: {{ color1 }};">*** Checkerboard ***<h1>
    </div>


<div class="center_content">
    {% for x in range(0,num_row): %}
    <div>
        {% for y in range(0,num_col): %}
            {% if (x+y)%2 == 0%}
                <div class="box" style="background-color: {{ color1 }};"></div> {# would love to move color to css but dont know how #}
            {% else %}
                <div class="box" style="background-color: {{ color2 }};"></div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>

</body>
</html>