<div class="container w-50 mt-4 mx-auto shadow border d-flex flex-column align-items-center justify-content-center p-4">
    <h1 class="mb-3">Success</h1>
    <a asp-action="Logout" asp-controller="Home" class="btn btn-danger">Logout</a>
</div>