<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Profile 2</title>
</head>
<body>
    <div class="container rounded shadow bg-dark text-light p-3 my-3">
        <nav class="nav nav-pills gap-4 justify-content-center mb-4">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/projects">Projects</a>
            <a class="nav-link" href="/contact">Contact</a>
        </nav>
        <h1 class="text-center mb-4">About Me</h1>
        <div class="d-flex justify-content-evenly mb-4">
            <div class="d-flex flex-column align-items-center">
                <img src="~/images/Elmo.png" alt="elmo" class="img-fluid rounded">
                <h3>Elmo</h3>
                <h5>Loves to spell</h5>
            </div>
            <div class="w-25">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor recusandae nulla, corrupti fuga, iste nobis magni necessitatibus quisquam aspernatur optio vel voluptates eaque odio nam ea possimus minus libero debitis!
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore pariatur suscipit ex, minima neque quo nostrum dolor vero cum animi deleniti quas quia! Quisquam nulla consequuntur unde voluptatum. Quisquam, nostrum.
            </div>
        </div>
    </div>
</body>
</html>