@{
    ViewData["Title"] = "Home Page";
}

<div class="container rounded shadow bg-dark text-light p-4 my-3">
    <h1>Successfully registered!</h1>
    <a href="/" class="btn btn-primary">Go Back</a>
</div>