
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.col,.col-2,.col-3{
    padding:15px;
    background-color:cadetblue;
    margin: 5px 5px;
    height: 20px;
}
.col{
    flex: 1;
}
.col-2{
    flex: 2;
}
.col-3{
    flex: 3;
}
