.App {
  text-align: center;
  width: 80%;
  padding: 25px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Fade-in {
  from {
    border: 1px solid grey;
    padding: 5px 10px;
    text-align: center;
  }
  to {
    border: 1px solid black;
    padding: 5px 10px;
    text-align: center;
    background-color: grey;
    color: white;
  }
}
@keyframes Fade-out {
  from {
    border: 1px solid black;
    padding: 5px 10px;
    text-align: center;
    background-color: grey;
    color: white;
  }
  to {
    border: 1px solid grey;
    padding: 5px 10px;
    text-align: center;
  }
}

.sm-box{
  animation: Fade-out 300ms forwards;
}

.sm-box:hover{
  cursor: pointer;
}

.sm-box-clicked{
  animation: Fade-in 500ms forwards;
}

.dark-border{
  border: 1px solid black;
  padding: 5px;
}
